<%- include('../_partials/top') %>
<section id="page-title" class="light">
    <div class="container">
    <div class="page-title">
        <h1>Disclaimer</h1>
<p>Last updated: August 10, 2020</p>
<p>Site Covered: https://ecrime.xyz</p>
    </div>
    </div>
    </section>
    
    
    <section>
    <div class="container">
        <p class=MsoNormal style='margin-top:12.0pt;margin-right:0in;margin-bottom:
        12.0pt;margin-left:0in;line-height:normal'><span style='font-size:12.0pt;
        color:black'>This disclaimer (&quot;Disclaimer&quot;) is applicable to the
        website listed above.</span></p>
        
        <p class=MsoNormal style='margin-top:12.0pt;margin-right:0in;margin-bottom:
        12.0pt;margin-left:0in;line-height:normal'><span style='font-size:12.0pt;
        color:black'>EFFECTIVE DATE: Effective Date above means the date this
        Disclaimer becomes effective.</span></p>
        
        <p class=MsoNormal style='margin-top:12.0pt;margin-right:0in;margin-bottom:
        12.0pt;margin-left:0in;line-height:normal'><span style='font-size:12.0pt;
        color:black'>The use of this website and services on this website are provided
        by eCrimePortal (hereinafter referred to as &quot;Company&quot; or
        &quot;Operator&quot;) and are subject to this Disclaimer.</span></p>
        
        <p class=MsoNormal style='margin-top:12.0pt;margin-right:0in;margin-bottom:
        12.0pt;margin-left:0in;line-height:normal'><span style='font-size:12.0pt;
        color:black'>Should you continue to use the website, the Company deems that as
        a manifestation of your assent to this Disclaimer.</span></p>
        
        <p class=MsoNormal style='margin-top:12.0pt;margin-right:0in;margin-bottom:
        12.0pt;margin-left:0in;line-height:normal'><span style='font-size:12.0pt;
        color:black'>The parties to this Disclaimer are the Company and you, as the
        user of this website. Hereinafter, the parties will individually be referred to
        as &quot;Party&quot; and collectively as &quot;Parties.&quot;</span></p>
        
        <p class=MsoNormal style='margin-top:12.0pt;margin-right:0in;margin-bottom:
        12.0pt;margin-left:0in;line-height:normal'><span style='font-size:12.0pt;
        color:black'>Please note that you must be at least 16 (sixteen) years of age to
        use this website. By using this website, you represent and warrant that you are
        at least 16 (sixteen) years of age and have the ability to legally understand
        and agree to this Disclaimer. The Company assumes no responsibility or
        liability for any misrepresentation of your age. If you are not 16 (sixteen)
        years of age, you must stop using the website now.</span></p>
        
        <p class=MsoNormal style='margin-top:12.0pt;margin-right:0in;margin-bottom:
        12.0pt;margin-left:0in;line-height:normal'><span style='font-size:12.0pt;
        color:black'>By continuing to use this website, you assent to each term and
        section contained in this Disclaimer.</span></p>
        
        <p class=MsoNormal style='margin-top:12.0pt;margin-right:0in;margin-bottom:
        12.0pt;margin-left:0in;line-height:normal'><span style='font-size:12.0pt;
        color:black'>Through your use of this website, you acknowledge and agree that
        information and/or documents provided by the Company are simply that,
        information, and should not be considered legal advice, tax advice, brokerage
        advice, or investment advice. Further, the information provided herein should
        not be taken as financial planning or investment solicitation. No fiduciary
        relationship has been created between you and the Company.</span></p>
        
        <p class=MsoNormal style='margin-top:12.0pt;margin-right:0in;margin-bottom:
        12.0pt;margin-left:0in;line-height:normal'><span style='font-size:12.0pt;
        color:black'>You hereby understand and acknowledge that the Company is not
        acting as an attorney, certified financial planner, broker, or other regulated
        advisor through your use of the website.</span></p>
        
        <p class=MsoNormal style='margin-top:12.0pt;margin-right:0in;margin-bottom:
        12.0pt;margin-left:0in;line-height:normal'><span style='font-size:12.0pt;
        color:black'>If you are in need of legal advice or financial advice, please
        consult the appropriate advisor, such as your own attorney, accountant, or
        other professional.</span></p>
        
        <p class=MsoNormal style='margin-top:12.0pt;margin-right:0in;margin-bottom:
        12.0pt;margin-left:0in;line-height:normal'><span style='font-size:12.0pt;
        color:black'>You agree that your use of the website is at your sole and
        exclusive risk and that any services provided by the Company are on an &quot;As
        Is&quot; basis. The Company hereby expressly disclaims any and all express or
        implied warranties of any kind, including, but not limited to the implied warranty
        of fitness for a particular purpose and the implied warranty of
        merchantability. The Company makes no warranties that the website will meet
        your needs or that the website will be uninterrupted, error-free, or secure.
        The Company also makes no warranties as to the reliability or accuracy,
        completeness, or quality of any information on the website or obtained through
        any services. You agree that the Company is not liable for any errors,
        omissions, loss or damage which may be caused by your use of the website, to
        the fullest extent permitted by law. Any damage that may occur to you, through
        your computer or mobile system, or as a result of loss of your data from your
        use of the website is your sole responsibility.</span></p>
        
        <p class=MsoNormal style='margin-top:12.0pt;margin-right:0in;margin-bottom:
        12.0pt;margin-left:0in;line-height:normal'><span style='font-size:12.0pt;
        color:black'>The maximum liability of the Company arising from or relating to
        your use of the website is limited to the greater of one hundred ($100) US
        dollars or the amount you paid to the Company in the last three (3) months.
        This applies to any and all claims by you, including, but not limited to, lost profits
        or revenues, consequential or punitive damages, negligence, strict liability,
        fraud, or torts of any kind.</span></p>
        
        <p class=MsoNormal style='margin-top:12.0pt;margin-right:0in;margin-bottom:
        12.0pt;margin-left:0in;line-height:normal'><span style='font-size:12.0pt;
        color:black'>Documents, information, or other services received on or through
        this website may not be appropriate for your particular situation, the assessment
        of which is your sole and exclusive responsibility.</span></p>
        
        <p class=MsoNormal style='margin-top:12.0pt;margin-right:0in;margin-bottom:
        12.0pt;margin-left:0in;line-height:normal'><span style='font-size:12.0pt;
        color:black'>The Company makes no assurances to any particular outcome based on
        your use of the website, including business or financial outcomes.</span></p>
        
        <p class=MsoNormal style='margin-top:12.0pt;margin-right:0in;margin-bottom:
        12.0pt;margin-left:0in;line-height:normal'><span style='font-size:12.0pt;
        color:black'>You agree that the website provided by the Company is the property
        of the Company, including all copyrights, trademarks, trade secrets, patents,
        and other intellectual property (&quot;Company IP&quot;). You agree that the
        Company owns all right, title and interest in and to the Company IP and that
        You will not use the Company IP for any unlawful or infringing purpose. You
        agree not to reproduce or distribute the Company IP in any way, without express
        written permission from the Company.</span></p>
        
        <p class=MsoNormal style='margin-top:12.0pt;margin-right:0in;margin-bottom:
        12.0pt;margin-left:0in;line-height:normal'><span style='font-size:12.0pt;
        color:black'>You agree not to use the website for any unlawful purpose or any
        purpose prohibited under this clause. You agree not to use the website in any
        way that could damage the website or general business of the Company.</span></p>
        
        <p class=MsoNormal style='margin-top:12.0pt;margin-right:0in;margin-bottom:
        12.0pt;margin-left:0in;line-height:normal'><span style='font-size:12.0pt;
        color:black'>You further agree not to use the website:</span></p>
        
        <p class=MsoNormal style='margin-top:12.0pt;margin-right:0in;margin-bottom:
        12.0pt;margin-left:22.5pt;line-height:normal'><span style='font-size:12.0pt;
        color:black'>1) To harass, abuse, or threaten others or otherwise violate any
        person's legal rights;</span></p>
        
        <p class=MsoNormal style='margin-top:12.0pt;margin-right:0in;margin-bottom:
        12.0pt;margin-left:22.5pt;line-height:normal'><span style='font-size:12.0pt;
        color:black'>2) To violate any intellectual property rights of the Company or
        any third party;</span></p>
        
        <p class=MsoNormal style='margin-top:12.0pt;margin-right:0in;margin-bottom:
        12.0pt;margin-left:22.5pt;line-height:normal'><span style='font-size:12.0pt;
        color:black'>3) To upload or otherwise disseminate any computer viruses or
        other software that may damage the property of another;</span></p>
        
        <p class=MsoNormal style='margin-top:12.0pt;margin-right:0in;margin-bottom:
        12.0pt;margin-left:22.5pt;line-height:normal'><span style='font-size:12.0pt;
        color:black'>4) To perpetrate any fraud;</span></p>
        
        <p class=MsoNormal style='margin-top:12.0pt;margin-right:0in;margin-bottom:
        12.0pt;margin-left:22.5pt;line-height:normal'><span style='font-size:12.0pt;
        color:black'>5) To engage in or create any unlawful gambling, sweepstakes, or
        pyramid scheme;</span></p>
        
        <p class=MsoNormal style='margin-top:12.0pt;margin-right:0in;margin-bottom:
        12.0pt;margin-left:22.5pt;line-height:normal'><span style='font-size:12.0pt;
        color:black'>6) To publish or distribute any obscene or defamatory material;</span></p>
        
        <p class=MsoNormal style='margin-top:12.0pt;margin-right:0in;margin-bottom:
        12.0pt;margin-left:22.5pt;line-height:normal'><span style='font-size:12.0pt;
        color:black'>7) To publish or distribute any material that incites violence,
        hate, or discrimination towards any group;</span></p>
        
        <p class=MsoNormal style='margin-top:12.0pt;margin-right:0in;margin-bottom:
        12.0pt;margin-left:22.5pt;line-height:normal'><span style='font-size:12.0pt;
        color:black'>8) To unlawfully gather information about others.</span></p>
        
        <p class=MsoNormal style='margin-top:12.0pt;margin-right:0in;margin-bottom:
        12.0pt;margin-left:0in;line-height:normal'><b><span style='font-size:12.0pt;
        color:black'>INDEMNIFICATION:</span></b><span style='font-size:12.0pt;
        color:black'> You agree to defend and indemnify the Company and any of its
        affiliates (if applicable) and hold us harmless against any and all legal
        claims and demands, including reasonable attorney's fees, which may arise from
        or relate to your use or misuse of the website, your breach of this Disclaimer
        or any of our other legal documents, or your conduct or actions. You agree that
        the Company shall be able to select its own legal counsel and may participate
        in its own defense, if the Company wishes.</span></p>
        
        <p class=MsoNormal style='margin-top:12.0pt;margin-right:0in;margin-bottom:
        12.0pt;margin-left:0in;line-height:normal'><span style='font-size:12.0pt;
        color:black'>Through your use of the website, you agree that the laws of India shall
        govern any matter or dispute relating to or arising out of this Disclaimer, as
        well as any dispute of any kind that may arise between you and the Company,
        with the exception of its conflict of law provisions.</span></p>
        
        <p class=MsoNormal style='margin-top:12.0pt;margin-right:0in;margin-bottom:
        12.0pt;margin-left:0in;line-height:normal'><b><span style='font-size:12.0pt;
        color:black'>ARBITRATION:</span></b><span style='font-size:12.0pt;color:black'>
        In case of a dispute between the Parties relating to or arising out of this
        Agreement, the Parties shall first attempt to resolve the dispute personally
        and in good faith. If these personal resolution attempts fail, the Parties
        shall then submit the dispute to binding arbitration. The arbitration shall be
        conducted in the county chosen by the Company. The arbitration shall be
        conducted by a single arbitrator, and such arbitrator shall have no authority
        to add Parties, vary the provisions of this Agreement, award punitive damages,
        or certify a class. The arbitrator shall be bound by applicable and governing law
        of India. Each Party shall pay their own costs and fees. <i>Intellectual
        property claims by the Company will not be subject to arbitration and may be
        litigated, as the sole exclusion to this section.</i> The Parties waive any
        rights they may have to a jury trial in regard to arbitral claims.</span></p>
    </div>
    </section>
<%- include('../_partials/bottom') %>