<%- include('../_partials/top') %>
<section id="page-content">
  <div class="container">
    <div class="heading-text heading-section text-center">
      <h2>Refund Policy</h2>
      <div class="row">
        <div class="col-md-6 align-left">
          Effective From: 21st August 2020
        </div>
        <div class="col-md-6 align-right">
          Site Covered: https://ecrime.xyz
        </div>
      </div>
    </div>
    <div class="seperator"></div>
    <div class="text-left">
      <p
        class="MsoNormal"
        style="
          margin-top: 12pt;
          margin-right: 0in;
          margin-bottom: 12pt;
          margin-left: 0in;
          line-height: normal;
        "
      >
        <span style="font-size: 12pt; color: black;"
          >The website listed above, hereinafter referred to as
          &quot;Website&quot; is operated by the following party:</span
        >
      </p>

      <p
        class="MsoNormal"
        style="
          margin-top: 12pt;
          margin-right: 0in;
          margin-bottom: 12pt;
          margin-left: 22.5pt;
          line-height: normal;
        "
      >
        <span style="font-size: 12pt; color: black;"
          >Clear Net Security Project Foundation, a corporation, incorporated
          under the laws of the Republic of India (hereinafter referred to as
          &quot;Operator&quot;)</span
        >
      </p>

      <p
        class="MsoNormal"
        style="
          margin-top: 12pt;
          margin-right: 0in;
          margin-bottom: 12pt;
          margin-left: 0in;
          line-height: normal;
        "
      >
        <span style="font-size: 12pt; color: black;"
          >For any questions or comments regarding this Refund Policy, the
          Operator may be reached at the following contact points:</span
        >
      </p>

      <p
        class="MsoNormal"
        style="
          margin-top: 12pt;
          margin-right: 0in;
          margin-bottom: 12pt;
          margin-left: 22.5pt;
          line-height: normal;
        "
      >
        <span style="font-size: 12pt; color: black;">refunds@ecrime.xyz</span>
      </p>

      <p
        class="MsoNormal"
        style="
          margin-top: 12pt;
          margin-right: 0in;
          margin-bottom: 12pt;
          margin-left: 0in;
          line-height: normal;
        "
      >
        <span style="font-size: 12pt; color: black;"
          >Refunds are only permitted under the following conditions:</span
        >
      </p>

      <p
        class="MsoNormal"
        style="
          margin-top: 12pt;
          margin-right: 0in;
          margin-bottom: 12pt;
          margin-left: 22.5pt;
          line-height: normal;
        "
      >
        <span style="font-size: 12pt; color: black;"
          >Are requested within 12 hours of donating and;<br />
          amount donated is not less than 5 USD.</span
        >
      </p>

      <p
        class="MsoNormal"
        style="
          margin-top: 12pt;
          margin-right: 0in;
          margin-bottom: 12pt;
          margin-left: 0in;
          line-height: normal;
        "
      >
        <span style="font-size: 12pt; color: black;"
          >Refunds are issued at the Operator's discretion and may be accepted
          or rejected as such.</span
        >
      </p>
    </div>

    <div class="seperator"></div>
  </div>
</section>
    <%- include('../_partials/bottom') %>
