<%- include('../_partials/top') %>
<section class="m-t-80 p-b-150">
    <div class="container">
    <div class="row">
    <div class="col-lg-6">
    <div class="page-error-404">404</div>
    </div>
    <div class="col-lg-6">
    <div class="text-left">
    <h1 class="text-medium">We could't find what you were looking for!</h1>
    <p class="lead">The requested resource at <%= path %> may have had it's name changed or was never available on this server. That's all.</p>
    <div class="seperator m-t-20 m-b-20"></div>
    <div class="search-form">
    </div>
    </div>
    </div>
    </div>
    </div>
    </section>
<%- include('../_partials/bottom') %>