
<footer id="footer" class="dark">
    <div class="footer-content">
        <div class="container">
        <div class="row gap-y">
        <div class="col-md-6 col-xl-4">
        <p><a href="/"><img src="/ECrime (2).png" alt="eCrimePortal Footer"></a></p>
        <p>An initiative of the Clear Net Security Project Foundation.</p>
        </div>
        <div class="col-6 col-md-3 col-xl-2">
        
        <div class="widget">
        <h4>COMMUNITY</h4>
        <ul class="list">
        <li><a name="india" rel="follow" referrerpolicy="origin" href="https://in.ecrime.xyz">India</a></li>
        <li><a name="create-new" rel="follow" referrerpolicy="origin" href="/community/new">Request New</a></li>
        <li><a name="report-community" rel="follow" referrerpolicy="origin" href="/community/report">Report Community</a></li>
        </ul>
        </div>
        
        </div>
        <div class="col-6 col-md-3 col-xl-2">
        
        <div class="widget">
        <h4>SUPPORT</h4>
        <ul class="list">
        <li><a name="request-support" rel="follow" referrerpolicy="origin" href="/support/request">Request Support</a></li>
        <li><a name="urgent-support" rel="follow" referrerpolicy="origin" href="/support/urgent">Urgent Support</a></li>
        <li><a name="request-status" rel="follow" referrerpolicy="origin" href="/support/status">Status of Request</a></li>
        </ul>
        </div>
        
        </div>
        <div class="col-6 col-md-6 col-xl-2">
        
        <div class="widget">
        <h4>RESOURCES</h4>
        <ul class="list">
         <li><a name="faq" rel="follow" referrerpolicy="origin" href="/resources/faq">FAQ</a></li>
        <li><a name="netizen-manual" rel="follow" referrerpolicy="origin" href="/resources/netizen-manual">Netizen Manual</a></li>
        <li><a name="cnsptl" rel="follow" referrerpolicy="origin" href="/resources/cnsptl">CNSP TL</a></li> 
        </ul>
        </div>
        
        </div>
        <div class="col-6 col-md-6 col-xl-2">
        <p><a name="youtube" rel="follow" referrerpolicy="origin" class="btn btn-block" href="/donate">Donate</a></p>
        <br>
        
        <h5>CONNECT WITH US</h5>
        <div class="social-icons social-icons-colored social-icons-rounded float-left">
        <ul>
        <li class="social-discord"><a target="_blank" name="discord" rel="follow" referrerpolicy="origin" href="https://discord.ecrime.xyz"><i class="fab fa-discord"></i></a></li>
        <li class="social-reddit"><a target="_blank" name="reddit" rel="follow" referrerpolicy="origin" href="https://reddit.com/r/ecrime"><i class="fab fa-reddit-alien"></i></a></li>
        <li class="social-twitter"><a target="_blank" name="twitter" rel="follow" referrerpolicy="origin" href="https://twitter.com/eCrimePortal"><i class="fab fa-twitter"></i></a></li>
        <li class="social-youtube"><a target="_blank" name="youtube" rel="follow" referrerpolicy="origin" href="https://www.youtube.com/channel/UCVTcaoaNmDpsgt9ZNCZZ5kA"><i class="fab fa-youtube"></i></a></li>
        </ul>
        </div>
        
        </div>
        </div>
        </div>
        </div>
    <div class="copyright-content">
    <div class="container">
    <div class="row">
    <div class="copyright-text text-center">CNSP, Clear Net Security Project, and CNSPF are registered trademarks and eCrimePortal,
        E-Crime Portal, the eCrimePortal logo and the CNSP logo are trademarks of the CNSP Foundation, Inc. Unless otherwise specified,
        all content on the site is Creative Commons Attribution-ShareAlike v4.0 and provided without warranty of service or accuracy.
        For more information, please refer to our <a name="disclaimer" rel="follow" referrerpolicy="origin" href="/legal/disclaimer">General Disclaimer</a>.
        Copyright 2020, CNSP Foundation, Inc.</div>
    </div>
    </div>
    </div>
    </footer>

</div>


<a id="scrollTop"><i class="icon-chevron-up"></i><i class="icon-chevron-up"></i></a>
<% if(path != "/") { var bc = "" } else { var bc = "<script src='/plugins/particles/particles.js'></script><script src='/plugins/particles/particles-dots.js'></script>" }%>
<%- bc %>
<script src="/js/plugins.js"></script>
<script src="/js/functions.js"></script>
</body>
</html>