<%- include('../_partials/top') %>
<section
  id="page-title"
  class="dark"
  style="
    background: url(https://www.toptal.com/designers/subtlepatterns/patterns/double-bubble-outline.png);
  "
>
  <div class="shape-divider" data-style="10"></div>
  <div class="page-title">
    <h1>Under Development</h1>
    <span
      >The eCrimePortal Cyber Security Handbook Version 20.09 (India) is being
      written. It is due to make a public release on 1st September, 2020.</span
    >
  </div>
</section>
<section id="page-content" class="text-center">
  <h4>
    Meanwhile you can donate to help us run efficiently during the Coronavirus
    Pandemic.
  </h4>
  <button class="btn btn-dark" onclick="window.location='/donate'">
    Donate
  </button>
  <div class="spacer"></div>
</section>
<%- include('../_partials/bottom') %>
