<%- include('../_partials/top') %>
<section id="page-title" data-bg-parallax="images/parallax/5.jpg">
    <div class="container">
        <div class="page-title">
            <h1>FAQs</h1>
            <span>Frequently Asked Questions</span>
        </div>
        <div class="breadcrumb">
            <ul>
                <li><a href="/">Home</a>
                </li>
                <li class="active"><a href="#">FAQs</a>
                </li>
            </ul>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h3>GENERAL FAQs <small>(4)</small></h3>
                <p>The most commonly asked questions by our community members.</p>
                <div class="accordion toggle fancy radius clean">
                    <div class="ac-item">
                        <h5 class="ac-title"><i class="fa fa-question-circle"></i>How can I start a chapter for my country?</h5>
                        <div class="ac-content">The thpught of starting a chapter for your country is very noble; Hence, we have made the process very easy.<br><br>You just have to fill this form then a staff member will review it and respond back in 12 hours.</div>
                    </div>
                    <div class="ac-item">
                        <h5 class="ac-title"><i class="fa fa-question-circle"></i>How can I contribute to the eCrimePortal?</h5>
                        <div style="display: none;" class="ac-content">There are many ways to contribute. Most popular ones can be found here.</div>
                    </div>
                    <div class="ac-item">
                        <h5 class="ac-title"><i class="fa fa-question-circle"></i>Do you have any job positions open at eCrimePortal?</h5>
                        <div style="display: none;" class="ac-content">We hire individuals by a process of hunt. You can check here to when the next hunt will begin.</div>
                    </div>
                    <div class="ac-item">
                        <h5 class="ac-title"><i class="fa fa-question-circle"></i>Can I blog about the eCrimePortal?</h5>
                        <div style="display: none;" class="ac-content">We strongly encourage individuals to create content about the eCrimePortal.</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <h3>ECPSN FAQS <small>(4)</small></h3>
                <p>Questions about the eCrimePortal Smart Netizen Courses.</p>
                <div class="accordion toggle fancy radius clean">
                    <div class="ac-item">
                        <h5 class="ac-title"><i class="fa fa-question-circle"></i>Do I have to pay for the ECPSN courses?</h5>
                        <div class="ac-content" style="display: none;">No. All ECPSN courses are free for all.</div>
                    </div>
                    <div class="ac-item">
                        <h5 class="ac-title"><i class="fa fa-question-circle"></i>What languages are the courses available in?</h5>
                        <div class="ac-content" style="display: none;">The courses are available in English only.</div>
                    </div>
                    <div class="ac-item">
                        <h5 class="ac-title"><i class="fa fa-question-circle"></i>How do I register for an ECPSN course?</h5>
                        <div class="ac-content" style="display: none;">You may visit the courses website to know more.</div>
                    </div>
                    <div class="ac-item">
                        <h5 class="ac-title"><i class="fa fa-question-circle"></i>Is there a minimum age to apply for the ECPSN course?</h5>
                        <div class="ac-content">Yes. You must be 16 years old to apply for any ECPSN course.</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row m-t-40">
            <div class="col-lg-6">
                <h3>DONATION FAQS <small>(3)</small></h3>
                <p>General questions about donations made to the eCrimePortal?</p>
                <div class="accordion toggle fancy radius clean">
                    <div class="ac-item">
                        <h5 class="ac-title"><i class="fa fa-question-circle"></i>How can I donate to the eCrimePortal?</h5>
                        <div class="ac-content">You may donate using all Debit/Credit Cards, BHIM UPI, Paytm Wallet and NetBanking.</div>
                    </div>
                    <div class="ac-item">
                        <h5 class="ac-title"><i class="fa fa-question-circle"></i>Will I get a receipt when I donate?</h5>
                        <div class="ac-content">You will receive a receipt on the E-Mail you entered while donating.</div>
                    </div>
                    <div class="ac-item">
                        <h5 class="ac-title"><i class="fa fa-question-circle"></i>Why do you need donations?</h5>
                        <div class="ac-content">Since we are a not-for-profit organization; we have no revenue from third party sources. We entirely depend on our users to help us pay for hosting costs, development, etc.</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <h3>SUPPORT FAQS <small>(4)</small></h3>
                <p>Questions we get asked about requesting support.</p>
                <div class="accordion toggle fancy radius clean">
                    <div class="ac-item">
                        <h5 class="ac-title"><i class="fa fa-question-circle"></i>What are your support hours?</h5>
                        <div style="display: block;" class="ac-content">We offer support 24x7.</div>
                    </div>
                    <div class="ac-item">
                        <h5 class="ac-title"><i class="fa fa-question-circle"></i>What should I do before contacting support?</h5>
                        <div style="display: none;" class="ac-content">You should make sure that you explain your issue in a comprehensive manner before submitting a request.</div>
                    </div>
                    <div class="ac-item">
                        <h5 class="ac-title"><i class="fa fa-question-circle"></i>Where can I request support?</h5>
                        <div style="display: none;" class="ac-content">You can request support by visiting the support panel.</div>
                    </div>
                    <div class="ac-item">
                        <h5 class="ac-title"><i class="fa fa-question-circle"></i>What is your support provision policy?</h5>
                        <div style="display: none;" class="ac-content">The support provision policy can be found here.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<%- include('../_partials/bottom') %>