<%- include('../_partials/top') %>
<section id="page-title" class="dark" style="background: url(https://www.toptal.com/designers/subtlepatterns/patterns/double-bubble-outline.png)">
    <div class="shape-divider" data-style="10"></div>
    <div class="container">
    <div class="page-title">
    <h1 class="text-danger">Done!</h1>
    </div>
    </div>
    </section>
<%- include('../_partials/bottom') %>