<%- include('../_partials/top') %>
<section>
    <div class="container">
        <div class="space"></div>
        <div class="space"></div>
        <div class="heading-text heading-line text-center">
            <h4 class="text-danger"><%= errc %></h4>
            </div>
            <div class="space"></div>
            <div class="space"></div>
    </div>
</section>
<%- include('../_partials/bottom') %>