<%- include('../_partials/top') %>
<section id="page-title" class="dark" style="background: url(https://www.toptal.com/designers/subtlepatterns/patterns/double-bubble-outline.png)">
    <div class="shape-divider" data-style="10"></div>
    <div class="container">
    </div>
    <div class="page-title">
    <h1>Coming Soon</h1>
    <span>This feature is yet to be added!</span>
    </div>
    </div>
    </section>

<%- include('../_partials/bottom') %>