<%- include('../_partials/top') %>
<section class="m-t-80 p-b-150">
    <div class="container">
    <div class="row">
    <div class="col-lg-12">
    <div class="text-left">
    <h1 class="text-medium">This community for this country does not exist yet!</h1>
    <p class="lead">You can request for creation of one for your country by filling <a href="/community/new">this form.</a></p>
    <div class="seperator m-t-20 m-b-20"></div>
    <div class="search-form">
    </div>
    </div>
    </div>
    </div>
    </div>
    </section>
<%- include('../_partials/bottom') %>