<%- include('../_partials/top') %>
<section class="m-t-80 p-b-150">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="text-left">
          <h1 class="text-medium">
            The Indian community is under construction!
          </h1>
          <p class="lead">
            We are looking for individuals who would like to volunteer. If you
            are an interested candidate; E-Mail us at india@ecrime.xyz
          </p>
          <div class="seperator m-t-20 m-b-20"></div>
          <div class="search-form"></div>
        </div>
      </div>
    </div>
  </div>
</section>
<%- include('../_partials/bottom') %>
