<%- include('../_partials/top') %>
<section
  id="page-title"
  class="dark"
  style="
    background: url(https://www.toptal.com/designers/subtlepatterns/patterns/double-bubble-outline.png);
  "
>
  <div class="shape-divider" data-style="10"></div>
  <div class="container">
    <div class="breadcrumb">
      <% var rmv = path.slice(1); var arra = rmv.split('/');%>
      <ul>
        <li>Home</li>
        <% arra.forEach(bcumb => { %>
        <li><%= bcumb.charAt(0).toUpperCase() + bcumb.slice(1) %></li>
        <% }) %>
      </ul>
    </div>
    <div class="page-title">
      <h1>Community Report</h1>
      <span>Is a community not functioning the way it should? Report it!</span>
    </div>
  </div>
</section>

<section id="page-content">
  <div class="container">
    <div class="row">
      <div class="content col-lg-12">
        <h4 class="text-center">
          All the information you shall provide below will remain anonymous and
          will not be used in course of investigation.
        </h4>
        <form>
          <div class="form-group">
            <label for="exampleFormControlInput1">Legal Full Name</label>
            <input
              type="text"
              class="form-control"
              id="exampleFormControlInput1"
              placeholder="Dan Patterson"
            />
          </div>
          <div class="form-group">
            <label for="exampleFormControlInput1">E-Mail Address</label>
            <input
              type="email"
              class="form-control"
              id="exampleFormControlInput1"
              placeholder="dan@email.com"
            />
          </div>
          <div class="form-group">
            <label for="exampleFormControlInput1">Community Country</label>
            <input
              type="email"
              class="form-control"
              id="exampleFormControlInput1"
              placeholder="Russia"
            />
          </div>
          <div class="form-group">
            <label for="exampleFormControlTextarea1">Reason for report</label>
            <textarea
              class="form-control"
              id="exampleFormControlTextarea1"
              rows="3"
            ></textarea>
          </div>
          <p>
            <small
              >By clicking on Submit you agree to abide by the
              <a href="/community/guidelines">community reporting guidelines</a
              >.</small
            >
          </p>
          <button class="btn btn-light" id="update">Submit</button>
        </form>
      </div>
    </div>
  </div>
</section>
<%- include('../_partials/bottom') %>
